In [1]:
students = ['Nitin', 'Swathi', 'Gaurav']
import pandas as pd
pd.Series(students)

0     Nitin
1    Swathi
2    Gaurav
dtype: object

In [2]:
numbers = [1,2,3,]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [3]:
mixed = ['John', 1,2,3,'Rohan',5,6]
pd.Series(mixed)

0     John
1        1
2        2
3        3
4    Rohan
5        5
6        6
dtype: object

In [4]:
students = ['Paris', 'Delhi', 'London', None]
pd.Series(students)

0     Paris
1     Delhi
2    London
3      None
dtype: object

In [6]:
numbers = [1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [7]:
numbers = [1,2,3,None]
pd.Series(numbers)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [8]:
import numpy as np
type(np.nan) # None for numbers

float

In [10]:
np.isnan(np.nan)

True

In [13]:
students_scores = {'John':'Physics', 'Rahul':'Maths', 'Sita':'Englisht'}
s = pd.Series(students_scores)

In [14]:
s.index

Index(['John', 'Rahul', 'Sita'], dtype='object')

In [15]:
students = [("Alice", "Brown"), ("Jack", "White"), ("Molly", "Green")]
s = pd.Series(students)

In [16]:
s

0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [17]:
s = pd.Series(students_scores, index=['John', 'Rahul', 'Sam'])
s

John     Physics
Rahul      Maths
Sam          NaN
dtype: object